
/* makes the font sans-serif */

body {
    font-family: sans-serif;
}

/* Main Header of Page */

h1 {
    font-size: 24px; font-weight: bold;
    background-color: rgb(0, 10, 10); color: rgb(255, 255, 255);
    border: 500px;
    text-align: center;
    padding: 15px;
    width: 180px;
    margin: auto auto;
    border-radius: 25px;
}

/* Main List of Recipes */


.block_list {
    border-style: double;
    display: list-item;
    font-size: 18px; font-weight: bold;
    color: black;
    width: 150px;
    height: 20px;
    padding: 0;
    margin: 30px;
}

/* Lasagna.html Main image */

img {
    border-radius: 25px;
    display: block;
    margin-right: auto;
    
}

/* Home Link  */

.back_home {
    display: block;
    text-align: center;
    font-size: 16px;
    width: 50px;
    height: 15px;
    margin: auto;
    padding-top: 10px;
    margin-top: 10px;

}

/* img description */

.small_title {

    font-size: 12px;
    margin: 0;
    width: 165px;
    margin-left: 15px;
    text-align: center;

}

/* Ingredients list  */

.forms {
    margin-left: 0px;
    width: 40%;
    float: left;
    box-sizing: border-box;
}

/* Ingredients Heading */

.spare_1 {
    font-size: 18px; font-weight: bold;
    height: 20px;
    width: 100px;
    margin: auto 10%;
}

/* Steps Heading */

.step_div {
    position: absolute;
    left: 57%;
    margin-left: -3px;
    top: 397px;
    font-size: 18px; font-weight: bold;
    height: 20px;
    width: 100px;

}

/* line separator */

.v1 {
    border-left: 6px solid black;
    height: 250px;
    position: absolute;
    left: 45%;
    margin-left: -3px;
    top: 430px;
  }

/* Steps List */

.krampus {
    margin-left: 0;
        width: 50%;
        float: right;
        box-sizing: border-box;
        
        
  }


